<div class="row card-deck">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor='let art of listeArticles'>
    <div class="card text-center">
      <div class="card-header">
        <h4>{{art.designation}}</h4>
      </div>
      <div class="card-body">
        <a> <img class="card-img-top list-img" src={{art.image}}>
        </a>
<h5 class="card-title">{{art.prix}} &euro;</h5>
        <!-- Button trigger modal -->
        <button type="button" data-toggle="modal" data-target="#exampleModal" (click)="onSelect(art)" class="btn btn-default btn-loupe">
          &nbsp;
        </button>
        <button (click)="addArticle(art)" class="btn btn-default btn-panier">&nbsp;</button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{selectedArticle.designation}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <a> <img class="card-img-top detail-img" src={{selectedArticle.image}}>
              </a>

              <div class="modal-body">
                {{selectedArticle.description}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
