/* You can add global styles to this file, and also import other style files */

.btn-panier, .btn-loupe {
  background-repeat: no-repeat;
  background-size: 39px 43px;
  padding-left: 41px;
  color: #000;
}
.btn-panier {
  background-image: url('assets/images/panier.png');
  background-position: 0 -7px;
}

.btn-loupe {
  background-image: url('assets/images/loupe.png');
  background-position: 0 -4px;
}

.card-img-top {
  max-width: 180px;
}
.detail-img {
  max-width: 450px;
}
.preview-img {
  max-width: 150px;
}