<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">VIKING.NET</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarResponsive" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" (click)="reset()">Acceuil
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md-9">
    <app-products #productsC [hidden]="orderFinished"></app-products>
  </div>
  <div class="col-md-3">
    <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC [hidden]="orderFinished"></app-shopping-cart>
  </div>
  <div class="col-md-6 offset-3">
    <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
  </div>
</div>

<!--------------------------------------- Footer ---------------------------------------->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Informations
        </h5>
        <p>Application d'Ecommerce créer au sein de Michael&Nico Agency.</p>
        <p>Application basé sur Java, Spring et Angular 7.</p>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Adresse</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> 114 Rue Lucien Faure</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> 33000 Bordeaux</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 33 234 567 88</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> + 33 234 567 89</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adminModal">Admin</button>
        <!--Modal-->
        <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout d'un article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="designation" class="col-form-label">Desigation</label>
                    <input type="text" class="form-control" id="designation" [(ngModel)]="model.designation">
                  </div>
                  <div class="form-group">
                    <label for="prix" class="col-form-label">Prix</label>
                    <input type="text" class="form-control" id="prix">
                  </div>
                  <div class="form-group">
                    <label for="description" class="col-form-label">Description</label>
                    <input type="text" class="form-control" id="description">
                  </div>
                  <div class="form-group">
                    <label for="stock" class="col-form-label">Stock</label>
                    <input type="number" class="form-control" id="stock">
                  </div>
                  <div class="form-group">
                    <label for="constructeur" class="col-form-label">Constructeur</label>
                    <input type="text" class="form-control" id="constructeur">
                  </div>
                  <div class="form-group">
                    <label for="categorie" class="col-form-label">Categorie</label>
                    <input type="text" class="form-control" id="categorie">
                  </div>
                  <div class="form-group">
                    <label for="prix" class="col-form-label">Image</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="custom-file-input" name="image" #file accept="image/*"
                          (change)="onSelectFile($event)">
                        <label class="custom-file-label" id="file-input-label" for="custom-file-input">Choix de l'image</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <img id="uploaded_image" class="preview-img">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-primary">Ajouter Article</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--Fin Modal-->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Michael&Nico Agency</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
