<div class="card text-white bg-danger mb-3">
  <div class="card-header text-center">Mon Panier</div>
  <div class="card-body">
    <h5 class="card-title">Total: {{ 123 }}&euro;</h5>
    <hr>
    <h6 class="card-title">Articles:</h6>

    <ul>
      <li *ngFor='let art of panier'>{{art.designation}} {{art.prix}} &euro;</li>
    </ul>

    <!-- <button class="btn btn-light btn-block" (click)="finishOrder()" [disabled]="orders.productOrders.length == 0">Payer</button> -->
    <button class="btn btn-light btn-block" (click)="clearPanier()">Supprimer</button>
  </div>
</div>
